.Body {
  gap: 88px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1106px;
  margin: 0 auto;
}

.Content {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.Header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Profile {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.Profile img {
  margin-right: 15px;
}

.Profile,
.EditIcon,
.DeleteIcon {
  cursor: pointer;
}

.Profile .Birthday {
  margin-top: 4px;
  color: #5b7083;
  font-size: 14px;
}

.Profile img{
 max-width: 50px;
 max-height: 50px;
}

.img img{
  max-width: 310px;
  max-height: 175px;
}

.EditIcon {
  margin-right: 17px;
}

.Header .Icon {
  display: flex;
  align-items: center;
}

.Description {
  max-width: 310px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.DescriptionMio {
  font-size: 14px;
}

.Content {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .Body {
    gap: 30px;
    margin: 0 20px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .Body {
    margin: 0 auto;
  }
}
